doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fontawesome/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style_dark.css')
    block extra_head

  body
    block nav
    block content
